@import 'mixins';
$primeColor : rgb(198, 163, 138); 

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
a:active{
    color: $primeColor !important;
}
.active{
    color: $primeColor !important;
}


#para1{
 /* The image used for parallax*/
 background-image: url("img/coffee_shop.jpeg");
}




#para2{
    /* The image used for parallax*/
    margin-top: 100px;
    background-image: url("img/barista.jpeg");
    height: 500px;
    @include mediaXS{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/baristaXS.jpeg");
    height: 250px;
  

    }
   }


   #para3{
    /* The image used for parallax*/
    margin-top: 100px;
    background-image: url("img/coffeeBeans.jpg");
    height: 500px;
    @include mediaXS{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/coffeeBeans.jpg");
    height: 250px;
   
    }
   }

   .shadow{
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
   }


#carouselExampleIndicators{
    top: 200px;
    color: #fff;  
    @include mediaSM{
        top: 100px;
    }
    @include mediaXS{
        top: 50px;
    }
}
.carousel-caption{
 position: relative;
 margin-left: auto;
 margin-right: auto;
 left: 0%; 
 width: 60%;

 
 i{
     font-weight: 300;
     font-size: 1.5rem;
     font-family: 'Roboto', sans-serif;
     @include mediaXS{
        font-size: 0.6rem;
    }
    @include mediaSM{
        font-size: 1.1rem;
    }
}

h3{
    margin-top: 50px;
    text-transform: uppercase; 
    @include mediaXS{
        font-size: 1rem;
        margin-top: 20px;
  }
}
p{
    color: grey;
    @include mediaXS{
        font-size: 0.4rem;
    }
}
}




.para { 
   

    /* Full height */
    height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mediaXS{
        width: 100vw;
    }
}
#topNav{
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.nav-link{
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    @include mediaMD{
        font-size: 0.9rem;
    }
    
}
.nav-link:hover{
    color: rgb(198, 163, 138);    
}


.nav-item:last-child{
    padding-right: 3rem;
    
    @include mediaXS{
        padding-right: 0;
    }
    @include mediaSM{
        padding-right: 0;
    }
}

.navbar-brand{
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand img{
    width: 300px;
    height: auto;
    position: absolute;
    top:4rem;
    left: 5rem;
@include mediaMD{
    width: 250px;
    left: 3.5rem;
}

    @include mediaXS{
       position: inherit;
       margin-left: auto;
       margin-right: auto;
       width: 200px;
    }
    @include mediaSM{
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
     }
}

.card{
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#topCard{
    color: #fff;
    margin-top: 200px;
    @include mediaXS{
        margin-top: 70px;   
    }
    @include mediaSM{
        margin-top: 70px;   
    }

}

#topCardBtn{
    background-color: rgb(198, 163, 138);
    color: #fff;
    padding: 1.2rem 1.7rem !important;
}

#topCardH2{
    font-size: 4.2rem;
    @include mediaXS{
        font-size: 2rem;        
    }
    @include mediaSM{
        font-size: 2rem;        
    }
    
}

#topCardPara{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    @include mediaXS{
        font-size: 0.7rem;        
    }
    @include mediaSM{
        font-size: 0.7rem;        
    }

}

.row-title{
 

    h2{
        margin-left: auto;
        margin-right: auto;
        padding: 4rem;
    }
}

.brewing{
    height: 400px;

    @include mediaMD{
        height: 300px;
    }
}

#brew{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#brew1{
    @extend #brew;
  background-image: url("img/brew1.jpeg");
}
#brew2{
    @extend #brew;
  background-image: url("img/brew2.jpeg");
}
#brew3{
    @extend #brew;
  background-image: url("img/brew3.jpeg");
}
#brew4{
    @extend #brew;
  background-image: url("img/brew4.jpeg");
}

.jumbotron{
    background: none;
    color: #fff;
    @include mediaMD{
        padding: 2rem 2rem;
    }
    h2{
        @include mediaMD{
            font-size: 1.5rem;
        }
    }
}

.lead{
    @include mediaMD{
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.lead > .btn-primary{
    background: none;
    border-color: #fff;
}

.lead > .btn-primary:hover{
    background: #fff;
   color:#000;
}

.card-img-top{
    height: 200px;
}
.card-body > p{
    margin-left: auto;
    margin-right: auto;
}

#card-tytul{
    margin-top: 6rem;
    margin-bottom: 4rem;
}
#card-tytul > .card-body >h3{
    font-size: 2rem;
}

#card-tytul > .card-body > p{
    font-weight: 300;
}

.threeCard > .card-body > h4 {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2rem;
    a{
        color: #000;
    }
}
.threeCard > .card-body > h4 >a:hover{
    color: $primeColor;
    text-decoration: none;
}

.threeCard > .card-body > p {
font-weight: 300;
}

.threeCard > img {
    @include mediaSM{
        height: 400px;
    }
    @include mediaXS{
        height: 350px;
      
    }
}

#para2 >  h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding-top: 200px;
    font-size: 3rem;
    @include mediaXS{
        padding-top: 100px;
        font-size: 1.7rem;
    }
}
#para2 > p{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $primeColor;
    font-size: 1.3rem;
    font-style: italic;
    @include mediaXS{
        font-size: 0.9rem;
    }
}

#Con-offer{
    margin:0;
    padding: 0;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    

}
#Row-offer{
    margin: 0;
    padding: 0;
    width: 100%;
}

#offerL > img{
    @include mediaSM{
        width: 100%
    }
    @include mediaXS{
        width: 100%
    }
}

#offerR{
    background: rgb(51, 51, 51);
    padding-bottom: 80px;
}
.roo{
   // background: yellow;
    width: 80%;
    margin-left: 5%;
    h4{
        font-size: 2.2rem;
        color: #fff ;
        margin-top: 80px;
        margin-bottom: 30px;
        margin-left: 20%;
        text-align: center;
        font-weight: 300;
    }
}

.kolumnaKawa{
    height: 85px;
    border-bottom: 1px solid $primeColor;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.kolumnaKawa .jumbotron{
    padding: 0;
    h5{
        float: left;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0px;

    }
    span{
        float: right;
        margin-top: -2px;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 0px;

    }
    
}

.kolumnaKawa .jumbotron .lead{
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#button-menu{
    background-color: $primeColor;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 60px;
    color: #fff;
}


#button-menu:hover{
background-color: darken(grey,15%);
}

#karta-menu{
    width: 100%;
}

#fourInfo{
   
    padding-bottom: 70px;
}

.circle{
    position: relative;
    display: flex;
    margin: auto ;
    margin-top: 25px;
    width: 150px;
    height: 150px;
    background: lighten($primeColor, 30%);
    border-radius: 100%;
}

.cr2{
    width: 60px;
    height: 60px;
    float: right;
    
    
}

.cr2 .ikonki {
    font-size: 1rem;
    color: darken($primeColor, 40%); 
   
}
.cr2 .ikonki:hover{
color: $primeColor;
cursor: pointer;
}


.pojemnik{
   height: 200px;

}
.ikonki{
    font-size: 3rem;
    color: $primeColor;
    display: flex;
    margin: auto;
}

footer{
    padding: 100px 0px;
}

.logo-footer > img{
    width: 100%;
    height: auto;
}

#footer1, #footer2, #footer3{
    height: 150px;
}
#footer1{
    padding-top: 40px;
    padding-right: 100px;
    @include mediaXS{
        justify-content: center !important;
        text-align: center;
        display: flex;
        padding-right: 0px;
    }
    @include mediaSM{
        justify-content: center !important;
        text-align: center;
        display: flex;
        padding-right: 0px;
    }
}
#footer2{
    padding-top: 20px;
}
#footer3{
    padding-top: 10px;
    @include mediaXS{
        justify-content: center !important;
        text-align: center;
        display: flex;
    }
    @include mediaSM{
        justify-content: center !important;
        text-align: center;
        display: flex;
    }
}